{% extends "base.twig" %}

{% block title %}Catalogue{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/book.css"/>
    
{% endblock %}
    
{% block content %}
<div class="main_container">
    <h2>Available Books</h2>
    {% include 'Components/book.twig' %}
   
    <h2>Add a New Book</h2>
    <div class="form_container">
        <form class="book_form" action="{{ formAction }}"  method="{{ formMethod }}" accept-charset="utf-8">
            <label class="label" for="full_form_title">Title:</label>
            <input class="input" type="text" id="full_form_title" name="title" >
            <label class="label" for="full_form_author">Author:</label>
            <input class="input" type="text" id="full_form_author" name="author" >
            <label class="label" for="full_form_description">Description:</label>
            <textarea class="input" id="full_form_description" name="description" rows="4" ></textarea>
            <label class="label" for="full_form_pages">Number of Pages:</label>
            <input class="input" type="number" id="full_form_pages" name="numberOfPages" >
            <label class="label" for="full_form_cover">Cover Image URL:</label>
            <input class="input" type="url" id="full_form_cover" name="coverImageUrl">

            <label class="label" for="isbn">or ISBN:</label>
            <input class="input" type="text" id="isbn" name="isbn" >
            <button class="button" type="submit">Create Book</button>
        </form>
    </div>

    
</div>

{% endblock %}
