{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="main_container">
    <button class="button" onclick="window.location.href='/sign-in'">Sign In</button>
    <button class="button" onclick="window.location.href='/sign-up'">Sign Up</button>
    <button class="button" onclick="window.location.href='/profile'">Profile</button>

</div>
{% endblock %}
