{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <button onclick="window.location.href='/sign-in'">Sign In</button>
    <button onclick="window.location.href='/sign-up'">Sign Up</button>
{% endblock %}
