{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="main_container">
    <button class="home__sign-in" onclick="window.location.href='/sign-in'">Sign In</button>
    <button class="home__sign-up" onclick="window.location.href='/sign-up'">Sign Up</button>
</div>
{% endblock %}
