<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
   <div class="navbar"> 
     <div class="card-1" onclick="window.location.href='/sign-in'">
       <label class="label-navBar" >Sign in</label>
     </div>
     <div class="card-2" onclick="window.location.href='/sign-up'">
       <label class="label-navBar" >Sign up</label>
     </div>
     <div class="card-3" onclick="window.location.href='/profile'">
       <label class="label-navBar" >Profile</label>
     </div>
     <div class="card-4" onclick="window.location.href='/catalogue'">
       <label class="label-navBar" >Catalogue</label>
     </div>
     <div class="card-5" onclick="window.location.href='/forums'">
       <label class="label-navBar" >Forums</label>
     </div>
     <div class="card-6">
       <img class = "nav-logo" src="/assets/images/black-books-logo.png" alt="Placeholder">
     </div>
     
     
   
   </div>
</body>
</html>
