<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
   <div class="navbar"> 
     <div class="card-1">
       <label class="label-navBar" onclick="window.location.href='/sign-in'">Sign in</label>
     </div>
     <div class="card-2">
       <label class="label-navBar" onclick="window.location.href='/sign-up'">Sign up</label>
     </div>
     <div class="card-3">
       <label class="label-navBar" onclick="window.location.href='/profile'">Profile</label>
     </div>
     <div class="card-4">
       <label class="label-navBar" onclick="window.location.href='/catalogue'">Catalogue</label>
     </div>
     <div class="card-5">
       <label class="label-navBar"></label>
     </div>
     
     
   
   </div>
</body>
</html>
